* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #080800;
}

main {
    min-height: 100vh;
}

.section-container {
    color: #86b604;
}

.section-container p {
    font-family: 'Playfair Display', serif;
}

@media (min-width: 320px) {
    .section-container p {
        font-size: 2rem;
    }
}

@media (min-width: 1024px) {
    .section-container p {
        font-size: 4rem;
    }
}